+widget("Instagram")
    .widget-instagram
        +widget-instagram_item("insta-01.jpg")
        +widget-instagram_item("insta-02.jpg")
        +widget-instagram_item("insta-03.jpg")
        +widget-instagram_item("insta-04.jpg")
        +widget-instagram_item("insta-05.jpg")
        +widget-instagram_item("insta-06.jpg")
        +widget-instagram_item("insta-07.jpg")
        +widget-instagram_item("insta-08.jpg")
        +widget-instagram_item("insta-09.jpg")
        +widget-instagram_item("insta-10.jpg")